#ul {
  display: flex;
  flex-direction: row;
}
#a {
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

