<h2>Добавить Мероприятие. Если оно точно крутое.</h2>

<form action="/form/events/add" method="POST" class="add_event_form"
    style="display: flex; flex-direction: column; justify-content:flex-start; max-width:100%; width:500px">
    <input type="text" name="eventName" placeholder="Name your Event">
    <input type="text" name="shortEventDesc" placeholder="Short Description">
    <input type="text" name="img_url" placeholder="insert img url" >
    <textarea type="" name="longEventDesc" id="" cols="15" rows="15"></textarea>
    <input type="text" name="tag" placeholder="#tag">
    <button>Запостим крутой ивент, окай? Всё проверил? опечаток нет?</button>
</form>
