<h1>Мероприятие</h1>
<div class="mainevent">
    <h1>{{title}}</h1>
  <div class="sim-slider">
  <ul class="sim-slider-list">
    <li><img src="http://pvbk.spb.ru/inc/slider/imgs/no-image.gif" alt="screen"></li> 
    <li class="sim-slider-element"><img src="http://pvbk.spb.ru/inc/slider/imgs/planet0.jpg" alt="0"></li>
    <li class="sim-slider-element"><img src="http://pvbk.spb.ru/inc/slider/imgs/planet1.jpg" alt="1"></li>
    <li class="sim-slider-element"><img src="http://pvbk.spb.ru/inc/slider/imgs/planet2.jpg" alt="2"></li>
  </ul>
  <div class="sim-slider-arrow-left"></div>
  <div class="sim-slider-arrow-right"></div>
  <div class="sim-slider-dots"></div>
</div>

<h2>{{shortdescription}}</h2>
   
    <span class="event_full_desc">{{longdescription}}hh</span>

    <div class="tags">
        {{#each tag}}
        <p class="sub_tag">{{this}}</p>
        {{/each}}
    </div>




    <div class="social_media_links">
        <a href="facebook.com">Facebook</a>
        <a href="facebook.com">Facebook</a>
        <a href="facebook.com">Facebook</a>
    </div>
</div>


